.container {
  display: flex;
  flex-direction: column;
}

.mainTitle {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 72px;
  line-height: 107px;
  color: #ffffff;
  text-align: justify;
}

.secondTitle {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 36px;
  line-height: 53px;
  color: #ffffff;
  text-align: justify;
}

.thirdTitle {
    margin-top: 30px;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
  text-align: justify;
}
