.container {
  width: 1200px;
  display: flex;
  justify-content: space-between;
}

.logo {
  height: 53px;
  width: 197px;
  background-image: url("../../images/logo\ 2.svg");
  background-size: cover;
}

.phone {
  color: #ffffff;
  font-weight: normal;
  font-size: 36px;
  line-height: 53px;
}
