@font-face {
  font-family: "Roboto";
  src: url("/Users/ZHeka/Desktop/Projects/webpack/src/assets/fonts/Roboto-Regular.ttf")
    format("truetype");
}
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.app {
  *,
  *::after,
  *::before {
    box-sizing: border-box;
  }
  margin: 0;
  padding: 0;
}
